NAME=taskflow
ENV=development
LOG_LEVEL=DEBUG

SERVER_PORT=8080
SERVER_READ_TIMEOUT=60s
SERVER_WRITE_TIMEOUT=60s
SERVER_IDLE_TIMEOUT=120s
SERVER_HEADER_TIMEOUT=60s

DB_HOST=localhost
DB_PORT=5433
DB_NAME=taskflow
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable
DB_CONNECTION_STR=postgresql://postgres:postgres@localhost:5433/taskflow?sslmode=disable

JWT_SECRET=to-set-in-production
ACCESS_TOKEN_EXPIRATION=to-set-in-production
REFRESH_TOKEN_EXPIRATION=to-set-in-production
